body, html{
    top: 0;
    left: 0;
    margin: 0;
}

.full{
    height: 100vh;
    background-color: red;
}

#landing{
    height: 100vh;
    background: url("images/image02.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
}


#team{
    height: 100vh;
    background: url("images/image01.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    opacity: 1;
}

#marc{
     height: 100vh;
}


#sponsers{
    height: 100vh;
}

#footer{
    background-color: dimgrey;
    height: 10vh;
}

#fotterText{
    height: 50%;
}

.content div img {
    max-width: 100%;
}

section {
    top: 50%;
}

.content {
    width: 80%;
    margin: 0 auto;
    background-color: skyblue;
    opacity: 0.8;
    height: 100%;
}

.content h1, .content h6{
    margin: 0;
}
